{% extends "network/layout.html" %}

{% block body %}
   <form action="{% url 'posts' %}" method="post">
      {% csrf_token %}
      <textarea  name="text" cols="30" rows="10"></textarea>
      <button type="submit">Post</button>
   </form>


   {% for post in page_obj %}
   <ul>
      <a href="{% url 'username' post.person %}"><li>{{post.person}}</li></a>
   <li>{{post.post}}</li>
   <li>{{post.timestamp}}</li>
    <form action="{% url 'likes' post.pk %}" method="post">
    {% csrf_token %}
    <button>like</button>
    </form> 
    <form action="{% url 'unlike' post.pk %}" method="post">
    {% csrf_token %}
    <button>unlike</button>
    </form> 
</ul>
   <br>
   {% endfor %}
   <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}